<app-nav></app-nav>
<div style="display: flex; justify-content: center; margin-top: 10vh;">
<div class="container my-5 mt-5 mx-5 px-5">
    <h2 class="title is-2 is-capitalized">Contact Us</h2>
    <form action="" method="post">
        <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>
                    <span class="icon is-left">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="email" name="email" id="email" class="input" placeholder="Email">
                    <span class="icon is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="button is-success is-size-5" style="background-color: #F9843E;">Submit</button>
    </form>
</div>
</div>
<div style="text-align: center; margin-top: 5vh;">
    <p><b style="color: #F9843E;">Address:</b>  50 Nicolae Titulescu Boulevard (District 1, Bucharest)</p>
    <p><b style="color: #F9843E;">Phone:</b>  +40 21 123 4567</p>
    <p><b style="color: #F9843E;">E-mail:</b>  contact@deunaw.com</p>
</div>

