/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';
*{
    animation-name: entrance;
    animation-duration: .2s;
    animation-direction: inherit;
}
@keyframes entrance{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}